<header>
  <a routerLink="/" class="header-link">
    <h1>Glober</h1>
  </a>
  <nav>
    <a routerLink="/">Home</a> |
    <a routerLink="/countries">Countries</a> |
    <a routerLink="/gdp-analysis">GDP Analysis</a> |
    <a routerLink="/demographic-insights">Demographic Insights</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>
    &copy; 2025 
    <a href="https://github.com/steliosgnl/glober" target="_blank" rel="noopener noreferrer">
      steliosgnl
    </a>
  </p>
</footer>