<div class="container">
  <h2>Spoken Languages in <span class="country-name">{{ countryName$ | async }}</span></h2>

  <div *ngIf="languages$ | async as languages; else loading">
    <div *ngIf="languages.length > 0; else noLanguages">
      <ul>
        <li *ngFor="let lang of languages">{{ lang.language }}</li>
      </ul>
    </div>
    <ng-template #noLanguages>
      <p>No official languages found for this country.</p>
    </ng-template>
  </div>

  <ng-template #loading>
    <p>Loading languages...</p>
  </ng-template>
</div>